/* Главные цвета */
$grayscale-0: #000000;
$grayscale-1: #292933;
$grayscale-4: #313131;
$grayscale-3:#FFFFFF;
$yellow-1: #BDBD0E;

/* Шрифт */
$font_grayscale-0: #000000;
$font_grayscale-1: #292933;
$font_grayscale-2: #CAC3C3;
$font_grayscale-3: #FFFFFF;
$font_yellow-1: #BDBD0E;

/* Размеры для адаптива */

$sm: 320px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

